ECU/SUT/
test-*
*.vscenario
*.vtestunit
*.dll
environment-make/nodelayer/
vTESTstudio/*.settings
vTESTstudio/obj_LightControl
**/*.vtuexe
Default.venvironment/
SIP/
ECU/Appl/GenData/
ECU/Log/
ECU/Solution/
ECU/*_workingCopy.*
ECU/MakeParameters.xml
*.vector